@import 'setup';

//variables variables variables variables variables variables variables 
$opensans: 'Open Sans', 'Century Gothic', CenturyGothic, AppleGothic, sans-serif;
$mont: 'Montserrat', 'Franklin Gothic Medium', 'Franklin Gothic', 'ITC Franklin Gothic', Arial, sans-serif;
$droid: 'Droid Serif', serif;

$cyan: #4CDDF3;

//custom styles custom styles custom styles custom styles custom styles

html{
	font-size: 62.5%;
}

body{
	font-family: $opensans;
}

img{
	max-width: 100%;
	height: auto;
}

.wrapper{
	max-width: 1170px;
	margin: 0 auto;
	justify-content: center;
	align-items: center;
}

.flex{
	display: flex;
	flex-wrap: wrap;
}

.column{
	flex-direction: column;
}

//typography typography typography typography typography typography 

h1{
	text-transform: uppercase;
	font-weight: 100;
	font-size: 10.5rem;
	font-family: $mont;
	letter-spacing: .4rem;
}

h3{
	font-style: italic;
	font-weight: 400;
	font-family: $droid;
	letter-spacing: .3rem;
	font-size: 2.6rem;
}

p{
	font-size: 1.6rem;
	line-height: 2;
}

//buttons buttons buttons buttons buttons buttons buttons buttons buttons 

button{
	background: none;
	border: solid 2px $cyan;
	font-family: $opensans;
	color: white;
	text-transform: uppercase;
	font-size: 1.4rem;
	font-weight: 400;
	padding: 1.2rem 4rem;
	letter-spacing: .4rem;
	.fa{
		margin-left: 1rem;
	}
}

//header header header header header header header header header header

header{
	background: url(/images/topbanner.jpg) top center no-repeat;
	background-size: cover;
	padding: 3rem 0;
	text-align: center;
	color: white;
	.wrapper{
		padding: 25rem 0;
	}
	.before{
		position: relative;
	}
	h1{
		margin-top: 0;
	}
	p{
		width: 60%;
		margin: 0 auto;
		padding-bottom: 3rem;
	}
	p::before{
		content: " ";
		width: 6rem;
		border: solid 1px $cyan;
		top: -3.6rem;
		left: calc(50% - 3rem);
		position: absolute;
	}
	span{
		color: $cyan;
	}
}
